Flask==0.10.1
Flask-Login==0.2.7
Flask-SQLAlchemy==1.0
Flask-Script==0.6.3
Flask-WTF==0.9.4
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.9.1
WTForms==1.0.5
Werkzeug==0.9.4
distribute==0.7.3
itsdangerous==0.23
passlib==1.6.2
